/* Console.scss */
div.console-visible {
	height: calc(65% - 75px) !important;
}

.console {
	width: 100%;
	height: 35%;
	background: rgba(255, 255, 255, 0.15);
	color: $color-white;
	padding: 50px 0;
	overflow-y: scroll;
}

.console-show {
	display: block;
}

.console-hidden {
	display: none;
}