/* Display.scss */
.vertical-center {
	@include vertical-center;
}

.half {
	@include span-columns(7);
}

.stack {
	min-width: 250px;
	width: 80%;
	max-width: 300px;
	height: 560px;
	max-height: 70%;
	margin: 0 5%;
	@include vertical-center;
	
	// For bottom to top stacking
	display: flex;
  	flex-direction: column-reverse;
  	overflow-y: scroll;

  	.frame {
  		width: 100%;
  		height: 50px;
		line-height: 50px;
		margin-top: 2px;
		color: $color-white;	
		text-align: center;		
		background: rgba(255, 255, 255, 0.04);

		.address {
			@include span-columns(5);

			&.sp {
				background: rgba(32, 180, 208, 1);

				img {
					display: inline-block;
					height: 20px;
					vertical-align: middle;
					margin: 0 0 0 -7px;
				}
			}
		}

		.value {
			@include span-columns(9);
			background: rgba(255, 255, 255, 0.075);
		}
  	}
}

.registers {
	min-width: 250px;
	width: 80%;
	max-width: 300px;
	margin: 0 5%;

	.frame {
  		width: 100%;
  		height: 50px;
		line-height: 50px;
		margin-top: 2px;
		color: $color-white;	
		text-align: center;		
		background: rgba(255, 255, 255, 0.04);

		.address {
			@include span-columns(5);
		}

		.value {
			@include span-columns(9);
			background: rgba(255, 255, 255, 0.075);
		}
  	}	
}