/* Scrollbar */

::-webkit-scrollbar {
	width: 12px;
	margin-right: 10px;
}

::-webkit-scrollbar-button { }

::-webkit-scrollbar-track {
	background: $color-space;
}
::-webkit-scrollbar-track-piece  {  }

::-webkit-scrollbar-thumb {
	background: $color-nevada;
}

::-webkit-scrollbar-corner       {  }
::-webkit-resizer                {  }

.stack::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
}

.stack::-webkit-scrollbar-track {
	background: #596164;
}