// Variables

// Colors
$color-white: #fdfdfd;
$color-alabaster: #f7f7f7;
$color-gallery: #eee;
$color-silver: #ccc;
$color-silverchalice: #aaa;
$color-dustygray: #999;
$color-boulder: #777;
$color-emperor: #555;
$color-mineshaft: #262626;
$color-black: #1d1d1d;
$color-dodgerblue: #229aff;
$color-wedgewood: #5576a9;

// Typography
$body-font: "Open Sans", sans-serif;
$title-font: "Raleway", "Open Sans", sans-serif;;
$font-sizes: 48 36 24 18 16 12;
$em-base: 16px !default;

// Line Height
$body-lh: 1.25;
$title-lh: 1.33;

// Misc
$border-radius: 3px;
$md-spacing: $body-lh * 1em;
$sm-spacing: $md-spacing / 2;

// Animations
$animation-duration: 175ms;
$animation-timing: ease;

// Breakpoints
$bp-sm: em(540);
$bp-md: em(986);
$bp-lg: em(1200);
$bp-xl: em(1600);